<div class="margin-all">
  <p class="center"><i class="glyphicon glyphicon-list-alt"></i>我的订单</p>
  <hr>
  <div class="order-list">
    <div class="order-item">
      <p><span>20170511000002</span> <span class="right">完成交易</span></p>
      <a href="productlist/1" class="col-xs-12 paddingvertical">
        <div class="clear">
          <div class="pic">
            <img src="http://placehold.it/100x100" alt="">
          </div>
          <div class="info">
            <p class="font-middle gray">白菜</p>
            <p class="font-small gray">白菜白菜白菜白菜白菜白菜白菜白菜</p>
            <p class="font-large bold">￥15/Kg</p>
          </div>
        </div>
      </a>
      <a href="productlist/1" class="col-xs-12 paddingvertical">
        <div class="clear">
          <div class="pic">
            <img src="http://placehold.it/100x100" alt="">
          </div>
          <div class="info">
            <p class="font-middle gray">白菜</p>
            <p class="font-small gray">白菜白菜白菜白菜白菜白菜白菜白菜</p>
            <p class="font-large bold">￥15/Kg</p>
          </div>
        </div>
      </a>
      <p>共2件商品 合计￥100</p>
      <p></p>
    </div>
    <hr>
    <div class="order-item">
      <p><span>20170511000002</span> <span>交易取消</span></p>
      <a href="detail.html" class="col-xs-12 paddingvertical">
        <div class="clear">
          <div class="pic">
            <img src="http://placehold.it/100x100" alt="">
          </div>
          <div class="info">
            <p class="name">白菜</p>
            <p class="desc">白菜白菜白菜白菜白菜白菜白菜白菜</p>
            <p class="price">￥15/Kg</p>
          </div>
        </div>
      </a>
      <a href="detail.html" class="col-xs-12 paddingvertical">
        <div class="clear">
          <div class="pic">
            <img src="http://placehold.it/100x100" alt="">
          </div>
          <div class="info">
            <p class="name">白菜</p>
            <p class="desc">白菜白菜白菜白菜白菜白菜白菜白菜</p>
            <p class="price">￥15/Kg</p>
          </div>
        </div>
      </a>
      <p>共1件商品 合计￥100</p>
      <p>订单取消原因：超出配送范围</p>
    </div>
  </div>
</div>