<div class="margin-all">
  <p class="center"><i class="glyphicon glyphicon-list-alt"></i>我的订单</p>
  <hr>
  <div class="order-list">
    <div class="order-item" *ngFor="let order of orders">
      <p><span>{{order.id}}</span> <span class="right">{{order.state|OrderStatePipe}}</span></p>
      <a class="col-xs-12 paddingvertical" href="products/{{product.id}}" *ngFor="let product of order.products">
        <div class="clear">
          <div class="pic">
            <img src="{{product.pictures[0].path}}" alt>
          </div>
          <div class="info">
            <p class="font-middle gray">{{product.name}}</p>
            <p class="font-middle gray">数量：{{product.count}}</p>
            <p class="font-large bold">￥{{product.price}}/{{product.unitName}}</p>
          </div>
        </div>
      </a>
      <p>共{{order.products.length}}件商品 合计￥{{order.total}}</p>
      <p></p>
      <hr>
    </div>
  </div>
</div>