<div class="padding-all">
    <div class="address-list">
        <p *ngFor="let address of addresses; let i=index">
            <span><input id="add{{i}}" name="address" type="radio" [(checked)]="address.ischecked" (change)="onAddressChange(address)"><label for="add{{i}}">{{address.street}}</label><br> {{address.name}} {{address.phone}}</span>
            <span class="right"><i class="glyphicon glyphicon-remove" role="button" (click)="onAddrRemove(address)"></i></span>
        </p>
        <button class="btn btn-primary" data-target="#addaddress" data-toggle="modal">新建地址</button>

        <div class="modal fade" id="addaddress">
            <div class="jumbotron">
                <form method="post" #addrForm="ngForm">
                    <div class="form-group">
                        <label for="username">姓名</label>
                        <input class="form-control" id="username" name="username" type="text" required #name="ngModel" [(ngModel)]="newAddr.name">
                        <p class="error-label" *ngIf="name.touched&&!name.valid">姓名不能为空</p>
                    </div>
                    <div class="form-group">
                        <label for="userphone">电话</label>
                        <input class="form-control" id="userphone" name="userphone" type="number" required #phone="ngModel" [(ngModel)]="newAddr.phone">
                        <p class="error-label" *ngIf="phone.touched&&!phone.valid">电话不能为空</p>
                    </div>
                    <div class="form-group">
                        <span>新疆省</span><span>昌吉市</span>
                    </div>
                    <div class="form-group">
                        <label for="userstreet">详细地址</label>
                        <input class="form-control" id="userstreet" name="userstreet" type="textarea" required #street="ngModel" [(ngModel)]="newAddr.street">
                        <p class="error-label" *ngIf="street.touched&&!street.valid">详细地址不能为空</p>
                    </div>
                    <button class="btn btn-primary" data-target="#addaddress" data-toggle="modal" type="submit" (click)="onAddAddress()" [disabled]="!addrForm.valid">添加</button>
                </form>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-xs-12 paddingvertical" *ngFor="let product of products"> 
            <div class="pic">
                <img class="productimg img-responsive" src="{{product.pictures[0].path}}" alt>
            </div>
            <div class="info">
                <p class="name">{{product.name}}</p>
                <p class="name red bold">￥{{product.price}}/{{product.unitName}}
                    <span class="right">
                        <button class="btn btn-primary btn-xs" (click)="onDecrease(product)">
                            <i class="glyphicon glyphicon-minus"></i>
                        </button>
                        <input class="form-control inline" type="number" disabled [(value)]="product.count" min="0">
                        <button class="btn btn-primary btn-xs" (click)="onIncrease(product)">
                            <i class="glyphicon glyphicon-plus"></i>
                        </button>
                    </span>
                </p>
                <p class="item-total red bold">小计：￥{{product.cost}}</p>
            </div>
        </div>
    </div>
</div>
<div class="operator row">
    <div class="col-xs-8 total red bold">总计：￥{{totalCost}}</div>
    <div class="col-xs-4 button" (click)="gotoOrders()">确认购买</div>
</div>