.cart-info{
    padding-top: 10px;
}
.cart-info h5{
    text-align: center;
}
.item-info{
    margin-left: 105px;
}
.cart-empty>p,.recommandation > p{
    text-align: center;
}
.recommandation p{
    margin-bottom: 0px;
}

.row{
    margin: 0;
}
.suggest-item{
    height: 200px;
    overflow: hidden;
    position: relative;
    margin-bottom: 5px;
}
.suggest-item img{
    width: 100%;
    height: 100px;
}
.suggest-item-info p:nth-child(3){
    position: absolute;
    bottom: 2px;
}
