<div class="cart-empty margin-all" *ngIf="products!=null&&products.length==0">
    <p><i class="glyphicon glyphicon-shopping-cart"></i>购物车是空的</p>
    <hr>
    <div class="recommandation">
        <p>为你推荐</p>
        <div class="row">
            <a class="col-xs-6 paddinghorizontal" href="productlist/1">
                <img src="http://placehold.it/146x146" alt>
                <p class="font-middle gray">白菜</p>
                <p class="font-small gray">白菜白菜白菜白菜白菜白菜白菜白菜白菜白菜白菜</p>
                <p class="font-large bold">￥15/Kg</p>
            </a>
            <a class="col-xs-6 paddinghorizontal" href="productlist/1">
                <img src="http://placehold.it/146x146" alt>
                <p class="font-middle gray">白菜</p>
                <p class="font-small gray">白菜白菜白菜白菜白菜白菜白菜白菜白菜白菜白菜</p>
                <p class="font-large bold">￥15/Kg</p>
            </a>
            <a class="col-xs-6 paddinghorizontal" href="productlist/1">
                <img src="http://placehold.it/146x146" alt>
                <p class="font-middle gray">白菜</p>
                <p class="font-small gray">白菜白菜白菜白菜白菜白菜白菜白菜白菜白菜白菜</p>
                <p class="font-large bold">￥15/Kg</p>
            </a>
            <a class="col-xs-6 paddinghorizontal" href="productlist/1">
                <img src="http://placehold.it/146x146" alt>
                <p class="font-middle gray">白菜</p>
                <p class="font-small gray">白菜白菜白菜白菜白菜白菜白菜白菜白菜白菜白菜</p>
                <p class="font-large bold">￥15/Kg</p>
            </a>
            <a class="col-xs-6 paddinghorizontal" href="productlist/1">
                <img src="http://placehold.it/146x146" alt>
                <p class="font-middle gray">白菜</p>
                <p class="font-small gray">白菜白菜白菜白菜白菜白菜白菜白菜白菜白菜白菜</p>
                <p class="font-large bold">￥15/Kg</p>
            </a>
            <a class="col-xs-6 paddinghorizontal" href="productlist/1">
                <img src="http://placehold.it/146x146" alt>
                <p class="font-middle gray">白菜</p>
                <p class="font-small gray">白菜白菜白菜白菜白菜白菜白菜白菜白菜白菜白菜</p>
                <p class="font-large bold">￥15/Kg</p>
            </a>
            <a class="col-xs-6 paddinghorizontal" href="productlist/1">
                <img src="http://placehold.it/146x146" alt>
                <p class="font-middle gray">白菜</p>
                <p class="font-small gray">白菜白菜白菜白菜白菜白菜白菜白菜白菜白菜白菜</p>
                <p class="font-large bold">￥15/Kg</p>
            </a>
            <a class="col-xs-6 paddinghorizontal" href="productlist/1">
                <img src="http://placehold.it/146x146" alt>
                <p class="font-middle gray">白菜</p>
                <p class="font-small gray">白菜白菜白菜白菜白菜白菜白菜白菜白菜白菜白菜</p>
                <p class="font-large bold">￥15/Kg</p>
            </a>
        </div>
    </div>
</div>

<div class="cart-info margin-all" *ngFor="let product of products">
    <h5>选购的商品</h5>
    <hr>
    <div class="cart-list">
        <div class="cart-item">
            <div class="float-left">
                <img src="http://placehold.it/100x100" alt>
            </div>
            <div class="item-info">
                <p class="font-large">{{product.name}}</p>
                <p>￥{{product.price}}/{{product.unitName}}</p>
                <p>
                    <button class="btn btn-primary btn-xs" (click)="onDecrease(product)">
                        <i class="glyphicon glyphicon-minus"></i>
                        </button>
                    <input class="form-control inline" type="number" [(value)]="product.count" min="0">
                    <button class="btn btn-primary btn-xs" (click)="onIncrease(product)">
                        <i class="glyphicon glyphicon-plus"></i>
                        </button>
                </p>
            </div>
            <p>小计：￥100</p>
        </div>
        <div class="cart-item">
            <div class="float-left">
                <img src="http://placehold.it/100x100" alt>
            </div>
            <div class="item-info">
                <p class="font-large">白菜</p>
                <p>￥15/Kg</p>
                <p>
                    <button class="btn btn-primary btn-xs">
                        <i class="glyphicon glyphicon-minus"></i>
                        </button>
                    <input class="form-control inline" type="number" min="0">
                    <button class="btn btn-primary btn-xs">
                        <i class="glyphicon glyphicon-plus"></i>
                        </button>
                </p>
            </div>
            <p>小计：￥100</p>
        </div>
        <div class="cart-item">
            <div class="float-left">
                <img src="http://placehold.it/100x100" alt>
            </div>
            <div class="item-info">
                <p class="font-large">白菜</p>
                <p>￥15/Kg</p>
                <p>
                    <button class="btn btn-primary btn-xs">
                        <i class="glyphicon glyphicon-minus"></i>
                        </button>
                    <input class="form-control inline" type="number" min="0">
                    <button class="btn btn-primary btn-xs">
                        <i class="glyphicon glyphicon-plus"></i>
                        </button>
                </p>
            </div>
            <p>小计：￥100</p>
        </div>
        <div class="cart-item">
            <div class="float-left">
                <img src="http://placehold.it/100x100" alt>
            </div>
            <div class="item-info">
                <p class="font-large">白菜</p>
                <p>￥15/Kg</p>
                <p>
                    <button class="btn btn-primary btn-xs">
                        <i class="glyphicon glyphicon-minus"></i>
                        </button>
                    <input class="form-control inline" type="number" min="0">
                    <button class="btn btn-primary btn-xs">
                        <i class="glyphicon glyphicon-plus"></i>
                        </button>
                </p>
            </div>
            <p>小计：￥100</p>
        </div>
    </div>

    <div class="operator row">
        <div class="col-xs-8 total">总计：￥150</div>
        <div class="col-xs-4 button" (click)="gotoOrder()">填选地址</div>
    </div>
</div>