<div class="cart-empty padding-all" *ngIf="products==null||products.length==0">
    <p><i class="glyphicon glyphicon-shopping-cart"></i>购物车是空的</p>
    <hr>
    <div class="recommandation">
        <p>为你推荐</p>
        <div class="row">
            <a class="col-xs-6 paddinghorizontal" routerLink="/productlist/{{suggestion.id}}" *ngFor="let suggestion of suggestions">
                <div class="suggest-item">
                    <img class="img-responsive" src="{{suggestion.pictures[0].path}}" alt>
                    <div class="suggest-item-info">
                        <p class="font-middle gray">{{suggestion.name}}</p>
                        <p class="font-small gray" *ngIf="suggestion.description.length>30">{{suggestion.description.substring(0,30)+'...'}}</p>
                        <p class="font-small gray" *ngIf="suggestion.description.length<=30">{{suggestion.description}}</p>
                        <p class="font-large bold">￥{{suggestion.price}}/{{suggestion.unitName}}</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>

<div class="cart-info padding-all" *ngIf="products!=null&&products.length>0">
    <h5>选购的商品</h5>
    <hr>
    <div class="cart-list">
        <div class="cart-item" *ngFor="let product of products">
            <div class="float-left">
                <img class="productimg img-responsive" src="{{product.pictures[0].path}}" alt>
            </div>
            <div class="item-info">
                <p class="font-large">{{product.name}}</p>
                <p>￥{{product.price}}/{{product.unitName}}</p>
                <p>
                    <button class="btn btn-primary btn-xs" (click)="onDecrease(product)">
                        <i class="glyphicon glyphicon-minus"></i>
                        </button>
                    <input class="form-control inline" type="number" [(value)]="product.count" min="0">
                    <button class="btn btn-primary btn-xs" (click)="onIncrease(product)">
                        <i class="glyphicon glyphicon-plus"></i>
                        </button>
                </p>
            </div>
            <p>小计：￥{{product.price*product.count}}</p>
        </div>
    </div>

    <div class="operator row">
        <div class="col-xs-8 total">总计：￥{{totalCost}}</div>
        <div class="col-xs-4 button" (click)="gotoOrder()">填选地址</div>
    </div>
</div>