.cart-info{
    padding-top: 10px;
}
.cart-info h5{
    text-align: center;
}
.item-info{
    margin-left: 105px;
}
.cart-empty>p,.recommandation > p{
    text-align: center;
}
.recommandation p{
    margin-bottom: 0px;
}

.row{
    margin: 0;
}