<div class="container">
  <app-navbar></app-navbar>
  <router-outlet></router-outlet>
</div>
<section class="visible-lg footer">
  <hr>
  <p>© 2017&nbsp;&nbsp;xjconvenience.com&nbsp;&nbsp;昌吉市肯微年特商行 &nbsp;&nbsp;版权所有 &nbsp;&nbsp;
    <a href="http://www.miitbeian.gov.cn" target="_blank">新ICP备17001929</a>&nbsp;&nbsp;
    <a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=65230102652326" target="_blank" style="display:inline-block;text-decoration:none;height:20px;line-height:20px;">
      <img src="../assets/images/beian.png">新公网安备 65230102652326号
    </a>
  </p>
</section>