.categories{
    border: 3px solid white;
    width: 60px;
    height: 60px;
    margin: 0 auto;
}

.categories + p{
    text-align: center;
}

.carousel-inner{
    min-height: 200px;
}
.catename{
    color: #0272e2;
    font-weight: bold;
}
.no-product{
    text-align: center;
    color: orange;
}
.btn-pay{
    width: 50px;
    height: 50px;
    background-color: #fe1914;
    border: 1px solid white;
    border-radius: 50%;
    text-align: center;
    padding-top: 10px;
    color: white;
    position: fixed;
    bottom: 20px;
    right: 20px;
    box-shadow: 1px 1px 5px #951a08;
}
.btn-top{
    width: 50px;
    height: 50px;
    background-color: rgb(125, 212, 60); 
    border: 1px solid white;
    border-radius: 50px;
    text-align: center;
    position: fixed;
    bottom: 100px;
    right: 20px;
    box-shadow: 1px 1px 5px rgb(100, 160, 50); 
    color: white;
    padding-top: 5px;
    line-height: 0.5;
}
.btn-pay .badge{
    background-color: #ff8003;
}