<div>
    <img class="image-responsive" src="../../assets/images/banner.png" alt="banner" width="100%">
</div>
<div class="row">
    <div class="col-sm-3" *ngFor="let category of categories">
        <img src="{{category.iconPath}}" class="categories" alt="icon" role="button" (click)="onCategoryClick(category.id)">
        <p>{{category.name}}</p>
        <!--<img src="http://placehold.it/60x60" class="categories" alt="icon" role="button" (click)="onCategoryClick(category.id)">-->
    </div>
</div>
<div class="row margin">
    <a class="col-md-3 col-sm-6 col-xs-12 paddingvertical" routerLink="/productlist/{{product.id}}" *ngFor="let product of result?.body.items">
        <div class="clear">
            <div class="pic">
                <img class="productimg img-responsive" src="{{product.pictures[0].path}}" alt>
            </div>
            <div class="info">
                <p class="font-middle gray bold">{{product.name}}</p>
                <p class="font-small gray">{{product.description.substring(0,43)+'...'}}</p>
                <p class="font-large">￥{{product.price}}/{{product.unitName}}</p>
            </div>
        </div>
    </a>
</div>