<div> 
  <img class="image-responsive" src="../../assets/images/banner.png" alt="banner" width="100%">
</div>
<div class="row margin">
    <a class="col-md-3 col-sm-6 col-xs-12 paddingvertical" href="productlist/1">
        <div class="clear">
            <div class="pic">
                <img src="http://placehold.it/100x100" alt>
            </div>
            <div class="info">
                <p class="font-middle gray bold">白菜</p>
                <p class="font-small gray">白菜白菜白菜白菜白菜白菜白菜白菜</p>
                <p class="font-large">￥15/Kg</p>
            </div>
        </div>
    </a><a class="col-md-3 col-sm-6 col-xs-12 paddingvertical" href="productlist/1">
        <div class="clear">
            <div class="pic">
                <img src="http://placehold.it/100x100" alt>
            </div>
            <div class="info">
                <p class="font-middle gray bold">白菜</p>
                <p class="font-small gray">白菜白菜白菜白菜白菜白菜白菜白菜</p>
                <p class="font-large">￥15/Kg</p>
            </div>
        </div>
    </a>
    <a class="col-md-3 col-sm-6 col-xs-12 paddingvertical" href="productlist/1">
        <div class="clear">
            <div class="pic">
                <img src="http://placehold.it/100x100" alt>
            </div>
            <div class="info">
                <p class="font-middle gray bold">白菜</p>
                <p class="font-small gray">白菜白菜白菜白菜白菜白菜白菜白菜</p>
                <p class="font-large">￥15/Kg</p>
            </div>
        </div>
    </a>
    <a class="col-md-3 col-sm-6 col-xs-12 paddingvertical" href="productlist/1">
        <div class="clear">
            <div class="pic">
                <img src="http://placehold.it/100x100" alt>
            </div>
            <div class="info">
                <p class="font-middle gray bold">白菜</p>
                <p class="font-small gray">白菜白菜白菜白菜白菜白菜白菜白菜</p>
                <p class="font-large">￥15/Kg</p>
            </div>
        </div>
    </a>
    <a class="col-md-3 col-sm-6 col-xs-12 paddingvertical" href="productlist/1">
        <div class="clear">
            <div class="pic">
                <img src="http://placehold.it/100x100" alt>
            </div>
            <div class="info">
                <p class="font-middle gray bold">白菜</p>
                <p class="font-small gray">白菜白菜白菜白菜白菜白菜白菜白菜</p>
                <p class="font-large">￥15/Kg</p>
            </div>
        </div>
    </a>
    <a class="col-md-3 col-sm-6 col-xs-12 paddingvertical" href="productlist/1">
        <div class="clear">
            <div class="pic">
                <img src="http://placehold.it/100x100" alt>
            </div>
            <div class="info">
                <p class="font-middle gray bold">白菜</p>
                <p class="font-small gray">白菜白菜白菜白菜白菜白菜白菜白菜</p>
                <p class="font-large">￥15/Kg</p>
            </div>
        </div>
    </a>
    <a class="col-md-3 col-sm-6 col-xs-12 paddingvertical" href="productlist/1">
        <div class="clear">
            <div class="pic">
                <img src="http://placehold.it/100x100" alt>
            </div>
            <div class="info">
                <p class="font-middle gray bold">白菜</p>
                <p class="font-small gray">白菜白菜白菜白菜白菜白菜白菜白菜</p>
                <p class="font-large">￥15/Kg</p>
            </div>
        </div>
    </a>
</div>